<!-- <md-card class="example-card-1">UserProfile</md-card>

<div class="form">
    <md-card class="example-card">
<form class="example-form" [formGroup]="userUpdateForm">
    <md-form-field class="example-full-width" >
      <input mdInput value="{{userObject.username}}"  placeholder="Username" formControlName="username">
    </md-form-field><br><br><br>



      <md-form-field class="example-full-width">
        <input mdInput value="{{userObject.email}}"  placeholder="Email"  formControlName="email">
      </md-form-field><br><br><br>
  

 
        <md-form-field class="example-full-width">
          <input mdInput value="{{userObject.contactno}}"  placeholder="Contact No"  formControlName="contactno">
        </md-form-field><br><br><br>
    

          <md-form-field class="example-full-width">
            <input mdInput value="{{userObject.address}}"  placeholder="Address"  formControlName="address">
          </md-form-field>
          <div ><button (click)="submit()" class="btn" md-raised-button>Update Profile</button></div>
        </form>
        

</md-card>
</div> -->