<md-card class="example-card">Admin Parking Dashboard
    <div class="container">
    <!-- <a routerLink="/parkingdashboard">ViewProfile</a> -->
    <a routerLink="allviewbooking" routerLinkActive="active">AllViewBooking</a>
    <a routerLink="allviewusers" routerLinkActive="active">AllViewUsers</a>
    <a routerLink="feedback" routerLinkActive="active">FeedBack</a>
    <a (click)="logout()">LogOut</a>
    </div>
    </md-card>
    <!-- <form [formGroup]="form" (ngSubmit)="addLocations()">
        <md-card class="main">
          <div>
            <h2>Add New Locations</h2>
          </div>
          <br>
          <md-input-container>
            <input mdInput type="number" placeholder="total slots" formControlName="totalSlots" required>
          </md-input-container>
          <br>
          <md-input-container>
            <input mdInput type="text" placeholder="location name" formControlName="locationName" required>
          </md-input-container>
          <br>
          <input md-button class="submit" type="submit" name="button" value="submit" >
        </md-card>
      </form> -->

    <router-outlet></router-outlet>