


  <!-- <app-sign-in></app-sign-in> -->
  <!-- <app-sign-up></app-sign-up> -->
  <router-outlet></router-outlet>
  <!-- <app-userprofile></app-userprofile> -->
  <!-- <app-parking-dashboard></app-parking-dashboard> -->
  <!-- <app-bookparking></app-bookparking> -->
  <!-- <app-viewbooking></app-viewbooking> -->
  <!-- <app-chat></app-chat> -->
  <!-- <app-adminparkingdashboard></app-adminparkingdashboard> -->
  <!-- <app-allviewbooking></app-allviewbooking> -->
  <!-- <app-allviewusers></app-allviewusers> -->
  <!-- <app-feedback></app-feedback> -->